/* BRAND ELEMENTS */

:root {
  --dark-green: #025959;
  --light-green: #04BFBF;
  --body-green: #D8DCDC;
  --white: #ffffff; 
  --black: #000000;
  --sand: #F2E0C9;
  --bright-green: #A0A603;
}

.background {
  background-color: var(--dark-green);
}

/* CONTAINERS */

.table-container {
  background-color: var(--body-green);
  height: 100%;
}

li {
  float: left;
}


/* TYPOGRAPHY */

.title {
  color: var(--light-green);
  font-size: 3em;
  font-weight: 700;
}

.heading {
  color: var(--light-green);
  font-size: 2.4em;
  font-weight: 700;
  padding: 24px;
}

.subheading {
  color: var(--black);
  font-size: 1.9em;
}

.ingress {
  color: var(--white);
  font-size: 1.5em;
}

/* SPACING */



/* BUTTONS AND NAVIGATIONS */

.button-primary {
  background: var(--bright-green);
  border-radius: 24px;
  width: 100px;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: white;
}

.button:hover {
  opacity: 0.8;
}

.desktop-nav {
  color: var(--light-green);
  padding: 16px;
}




/* TABLELIST */

.tablelist-bg {
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  padding: 12px 12px 0px 12px;
  margin: 20px 0px 0px 40px;
}

/* OTHER */

.input {
  margin: 0px 12px 12px 0px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
  background-color: #eee;
}

.input-number {
  margin: 0px 12px 12px 0px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
  background-color: #eee;
}

.input-heading {
  font-size: 14px;
  font-weight: 900;
}

.listmarker {
  list-style-type: none;
}

/* .toast-style {
  background-color: darkgreen;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  position: 'relative';
  width: 90px
} */

.sign-out {
  background-color: lavender;
  margin: auto;
}

.login-form {
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
  float: right;
  padding: 32px;
  margin: 0px 32px 0px 0px;
} 

.input-login {
  margin: 0px 12px 12px 0px;
  width: 234px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  padding: 8px;
  background-color: #eee;
}



@media only screen and (max-width: 736px) { 
  .table-container { 
    width: 710px;
  }

  .input {
    width: 150px;
  }

  .input-heading {
    width: 240px;
  }

}

@media only screen and (max-width: 414px) { 

  .tablelist-bg {
    margin: 8px;
  }

  .input {
    width: 160px;
  }

  .input-heading {
    width: 270px;
  }

  .input-number {
    width: 30px;
  }

  .table-container {
    width: 390px;
    margin: 8px 16px 0px 16px;
  }

  .listmarker {
    list-style-type: none;
    margin-left: 0px;
  }

}


.navbar {
  border-bottom: solid 1px #EBEBEB;
}

.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}

.nav-link,
.bottom-nav-link {
  color: #55575b;
}

.bottom-nav-link.active {
  color: #922c88;
}

.bottom-tab-label {
  font-size: 12px;
}
