/* OVERRIDES */
/* .btn-primary {
  color: var(--dark-green) !important;
  background-color: var(--body-green) !important;
  border-color: none;
}

.btn-primary:hover {
  color: var(--dark-green) !important;
  background-color: var(--body-green)!important;
  border-color: none;
} */

/* BRAND ELEMENTS */
:root {
  --dark-green: #025959; 
  --darker-green: #014343;
  --light-green: #04BFBF;
  --body-green: #D8DCDC;
  --white: #ffffff; 
  --black: #000000;
  --sand: #F2E0C9;
  --bright-green: #A0A603;
}

.background {
  background-color: var(--dark-green);
}

/* CONTAINERS */
.table-container {
  background-color: var(--body-green);
  height: 100%;
}

.tablelist-container {
  margin: 16px;
}

li {
  float: left;
}

/* TYPOGRAPHY */
.title {
  color: var(--light-green);
  font-size: 3em;
  font-weight: 700;
}

.heading {
  color: var(--light-green);
  font-size: 2.4em;
  font-weight: 700;
  padding: 24px;
}

.subheading {
  color: var(--black);
  font-size: 1.9em;
}

.ingress {
  color: var(--white);
  font-size: 1.5em;
}

.body-small {
  color: var(--white);
  font-size: 0.8em;
}

.running-number {
  font-size: 72px;
  color: var(--white);
  text-align: center;
  padding: 32px;
}

/* SPACING */



/* BUTTONS AND NAVIGATIONS */
.button-primary {
  background: var(--bright-green);
  border-radius: 24px;
  width: 100px;
  padding: 6px;
  margin: 6px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  color: white;
}

.button-secondary {
  background: var(--body-green);
  border-radius: 24px;
  width: 100px;
  padding: 6px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  color: var(--dark-green);
}

.button-secondary:hover {
  background: var(--dark-green);
  opacity: 0.8;
}

.button-primary:hover {
  background: var(--dark-green);
  opacity: 0.8;
}

.desktop-nav {
  color: var(--light-green);
  padding: 0px 0px 0px 20px;
}

.log-out {
  margin-top: -2px;
}

.navbar {
  border-bottom: solid 0px #ddd !important;
  }

/* TABLELIST */

.tablelist-cell {
  background-color: #eee;
  border-radius: 8px;
  max-width: 70%;
  padding: 16px;
  margin: 16px 0px 0px 0px;
}

/* OTHER */

.logged-in-label {
  float: right;
  padding: 12px;
}

.input {
  margin: 0px 20px 0px 0px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  background-color: #fff;
}

.input-number {
  margin: 0px 12px 12px 0px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
  background-color: #eee;
}

.listmarker {
  list-style-type: none;
}

/* .toast-style {
  background-color: darkgreen;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  position: 'relative';
  width: 90px
} */


.login-form {
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
  float: right;
  padding: 32px;
  margin: 0px 32px 0px 0px;
} 

.input-login {
  margin: 0px 12px 12px 0px;
  width: 234px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  padding: 8px;
  background-color: #eee;
}



@media only screen and (max-width: 736px) { 
  .table-container { 
    width: 710px;
  }

  .input {
    width: 150px;
  }

  .input-heading {
    width: 240px;
  }

}

@media only screen and (max-width: 414px) { 

  .table-container {
    /* width: 414px; */
    /* margin: 8px 16px 0px 16px; */
    
    background-color: transparent;
    }

  .tablelist-cell {
    max-width: 100%;
  }
  .tablelist-bg {
    margin: 8px;
  }

  .input {
    /* width: 160px; */
    margin: 0px 3px 16px 0px;

  }

  .input-heading {
    width: 270px;
  }

  .input-number {
    width: 30px;
  }

  .table-container {
    width: 390px;
    margin: 8px 16px 0px 16px;
  }

  .listmarker {
    list-style-type: none;
    margin-left: 0px;
  }

}


.navbar {
  border-bottom: solid 1px #EBEBEB;
  background-color: var(--darker-green);
}

.bottom-tab-nav {
  border-top: solid 0px #EBEBEB;
}

.nav-link,
.bottom-nav-link {
  color: var(--bright-green);
}

.bottom-nav-link.active {
  color: var(--white);
}

.bottom-tab-label {
  font-size: 0.8em;
}
